:root {
  --default-text-color: rgba(0,0,0,0.8);
  --faded-text-color: #5C4033;
  --largest-font-size: 3.5rem;
  --large-font-size: 2rem;
  --default-font-size: 1.5rem;
  --small-font-size: 1.35rem;
  --smaller-font-size: 1rem;
  --width-responsive: clamp(40%, 800px, 80%);
}

* {
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(-26.034deg, #8ABFEE 0%, #E8D97C 100%);
  min-height: 100svh;
  min-height: 100vh;
  background-repeat: no-repeat;
}