.mainarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100svh;
    height: 100vh;
}

.mainarea * {
    font-family: var(--font-main), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--default-text-color)
}

.main {
    width: 100%;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: clamp(40%, 600px, 100%);
    max-width: 80%;
    gap: 5px;
}

.header h1 {
    font-size: min(9vw, var(--largest-font-size));
}

.header p {
    font-family: var(--font-cursive);
    font-size: clamp(2vw, var(--default-font-size), 5vw);
}

.text {
    width: 100%;
}

.fontPreload {
    position: fixed;
    left: -100%;
    font-family: var(--font-handwriting);
}

.main p {
    font-family: var(--font-main);
    font-size: var(--large-font-size);
    text-decoration: underline;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%)
}

@media (orientation: landscape) {
    .main {
        width: 80%;
    }
}

@media (min-width: 32em) {
    .main p {
        top: 5%;
    }
}