.rating {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;
}

.rating button {
    background-color: transparent;
    border: none;
    padding: 0;
    
}


.thumb {
    display: flex;
    gap: 5px;
    color: inherit;
    cursor: pointer;
    font-size: var(--small-font-size);
    color: var(--faded-text-color);
}

.thumb:hover {
    color: rgba(0,0,0,0.6);
    
}

.rated {
    color: var(--default-text-color);
}

.pending {
    color: rgba(0,0,0,0.35);
    pointer-events: none;
}
