.refreshButton {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 80px;
}

.submitButton {
    background-color: #5f3417e5;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline;
    width: min-content;
    font-size: var(--small-font-size);
    color: #b8935e;
    text-wrap: nowrap;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.clicked {
    scale: 0.85;
}

.enterMessageButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    gap: 5px;
}

.enterMessageButton svg {
    width: 1.2em;
}