.refreshButton {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 80px;
}

.submitButton {
    background-color: #80490b;
    border: none;
    padding: 2px 4px;
    border-radius: 5px;
    border: 2px solid black;
    display: inline;
    width: min-content;
    font-size: var(--default-font-size);
    text-wrap: nowrap;
}

.button:hover {
    cursor: pointer;
}

.clicked {
    scale: 0.85;
}

.enterMessageButton {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    gap: 5px;
}

.enterMessageButton svg {
    width: 1.2em;
}