.inputArea {
    background-color: transparent;
    border: none;
    font-size: var(--default-font-size);
    font-family: var(--font-handwriting);
    font-weight: 700;
    color: var(--default-text-color);
    width: 100%;
    resize: none;
    flex: 1;
}

.inputArea:focus {
    background-color:rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: none;
}