.inputArea {
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
    font-family: var(--font-handwriting);
    font-weight: 700;
    width: 100%;
    resize: none;
    flex: 1;
}

.inputArea:focus {
    background-color:#80490b51;
    
    outline: none;
    box-shadow: none;
}