.parchment {
    position: relative;
    display: flex;
    align-items: center;
    width: clamp(35%, 700px, 90%);
}

.closeButton {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: var(--default-font-size);
    border: none;
    padding: 0;
    background-color: transparent;
    color: var(--faded-text-color);
    cursor: pointer;
}

.closeButton:hover {
    color: rgb(0,0,0);
}