.alert {
    width: 10%;
    height: 5%;
    padding: 15px;

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid black;
    border-radius: 20px;

    background-color: #85674a;
}