.text {
    position: absolute;
    left: 50%;
    top: 15%;
    height: 70%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    width: 75%;
}

.text p {
    font-size: var(--default-font-size);
    font-family: var(--font-handwriting), 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    overflow-y: auto;
    overflow-wrap: break-word;
    hyphens: auto;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--faded-text-color);
}

.formInfo {
    display: flex;
    justify-content: space-between;
}

.formInfo * {
    font-size: var(--smaller-font-size);
}

.textAreaContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
